<div class="container">
  <div class="row">
    <ul class="nav nav-pills" style="margin-bottom: 20px">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/cars'"
           routerLinkActive="active"
        >Машины</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
