<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>{{ appTitle | async }}</h1>
    <input type="text" class="form-control" [(ngModel)]="carName">
    <hr>
    <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
    <button class="btn btn-success" (click)="addCar()">Добавить машину</button>
    <hr>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let car of cars | async"
      >
        <span class="badge float-right" [ngStyle]="{background: car.color, color: 'white'}">
          {{ car.id }}
        </span>
        {{ car.name }}
        <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Изменить цвет</button>
        <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">Удалить машину</button>
      </li>
    </ul>
  </div>
</div>
